In [1]:
import tensorflow as tf

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('mlb1.csv')

In [5]:
print(df)

      score  BA   H  RBI  BB  k  SB  holds  avgR  ER  bb  SO  nHR
0         4  35   9    4   4  5   1      9     4   4   4   5    1
1         3  33   7    2   1  2   1      7     3   1   1   2    0
2         1  32   6    1   5  6   1      6     1   1   5   6    1
3         3  28   4    2   4  5   0      4     3   3   4   5    0
4         0  32   7    0   1  1   0      7     0   0   1   1    0
...     ...  ..  ..  ...  .. ..  ..    ...   ...  ..  ..  ..  ...
9951      4  31  11    4   2  7   1     11     4   4   2   7    1
9952      2  35   7    2   2  8   0      7     2   0   2   8    0
9953      0  32   6    0   2  5   1      6     0   0   2   5    0
9954      2  37  10    2   3  9   0     10     2   1   3   9    1
9955      3  33   9    3   3  8   0      9     3   3   3   8    1

[9956 rows x 13 columns]

In [6]:
df.head()

   score  BA  H  RBI  BB  k  SB  holds  avgR  ER  bb  SO  nHR
0      4  35  9    4   4  5   1      9     4   4   4   5    1
1      3  33  7    2   1  2   1      7     3   1   1   2    0
2      1  32  6    1   5  6   1      6     1   1   5   6    1
3      3  28  4    2   4  5   0      4     3   3   4   5    0
4      0  32  7    0   1  1   0      7     0   0   1   1    0

In [7]:
number_features = len(df.columns)

In [8]:
print(number_features)

13

In [9]:
datavalue = df.to_numpy()

In [54]:
x = df.loc[:,["BB","holds","avgR"]].values

In [55]:
x

array([[ 4,  9,  4],
       [ 1,  7,  3],
       [ 5,  6,  1],
       ...,
       [ 2,  6,  0],
       [ 3, 10,  2],
       [ 3,  9,  3]])

In [56]:
len(x)

9956

In [57]:
y = df.loc[:,'score'].values

In [58]:
y

array([4, 3, 1, ..., 0, 2, 3])

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [61]:

len(x_train)

7964

In [62]:
len(x_test)

1992

In [63]:
len(y_train)

7964

In [64]:
len(y_test)

1992

In [73]:
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding
from tensorflow.keras.optimizers import SGD

In [74]:
model = Sequential()

In [75]:
#model.add(Embedding(120,10))

model.add(Dense(100, input_dim=3, activation='relu')) 
model.add(Dense(200, activation='relu')) 
model.add(Dense(1, activation='relu'))

In [80]:
model = Sequential()
model.add(Dense(5000, input_dim=3, activation='relu'))
model.add(Dense(2300, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(1, activation='softmax'))

In [81]:
model.compile(loss='mse', optimizer=SGD(lr=0.087), 
              metrics=['accuracy'])

In [82]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 5000)              20000
_________________________________________________________________
dense_22 (Dense)             (None, 2300)              11502300
_________________________________________________________________
dense_23 (Dense)             (None, 200)               460200
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 201
=================================================================
Total params: 11,982,701
Trainable params: 11,982,701
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(x_train, y_train, batch_size=100, epochs=10)

Train on 7964 samples
Epoch 1/10
7964/7964 [==============================] - 12s 1ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 2/10
7964/7964 [==============================] - 12s 1ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 3/10
7964/7964 [==============================] - 11s 1ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 4/10
7964/7964 [==============================] - 12s 1ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 5/10
7964/7964 [==============================] - 12s 2ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 6/10
7964/7964 [==============================] - 13s 2ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 7/10
7964/7964 [==============================] - 19s 2ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 8/10
7964/7964 [==============================] - 19s 2ms/sample - loss: 26.7166 - accuracy: 0.1082
Epoch 9/10
5100/7964 [==================>...........] - ETA: 6s - loss: 27.1237 - accuracy: 0.1059