In [1]:
import time

In [2]:
t0=time.time()
print(t0,type(t0))

t1=time.time()
print(t1-t0,type(t1-t0))

In [3]:
tt=time.localtime()

In [4]:
print(type(tt),tt)

<class 'time.struct_time'> time.struct_time(tm_year=2018, tm_mon=12, tm_mday=5, tm_hour=17, tm_min=49, tm_sec=12, tm_wday=2, tm_yday=339, tm_isdst=0)

In [5]:
time.localtime(t0)

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=5, tm_hour=17, tm_min=49, tm_sec=12, tm_wday=2, tm_yday=339, tm_isdst=0)

In [6]:
time.mktime(tt) #時間元組轉數值

1544003352.0

In [7]:
import datetime

In [8]:
d1=datetime.datetime.now()

In [9]:
print(d1,type(d1))

2018-12-05 17:49:12.162160 <class 'datetime.datetime'>

In [10]:
t3 = '2017-03-20 16:53:20'

In [11]:
t33=datetime.datetime.strptime(t3,'%Y-%m-%d %H:%M:%S')

In [13]:
name='hannah'
birth='1984/12/30'
nbaYear='2003'
endYear="2018/1/23"
ratio=27.2

In [1]:
name='Kevin Durant'
birth='2001/1/1'
nbaYear='2001'
endYear='2001/12/31'
ratio=27.1

In [3]:
name='Hello'
birth='2015/12/31'
nbaYear='2000'
endYear='2016/3/1'
ratio=100

In [6]:
name='Kevin Durant'
birth='1988/9/29'
nbaYear='2007'
endYear='2018/1/10'
ratio=27.1

In [7]:

# [Kevin Durant] became the player with [20,000] career points at [29 years and 103 days].
name=input()
birth=input()
nbaYear=input()
endYear=input()
ratio=float(input())

import datetime

bd=datetime.datetime.strptime(birth,'%Y/%m/%d')
ey=datetime.datetime.strptime(endYear,'%Y/%m/%d')
ny=datetime.datetime.strptime(nbaYear,'%Y')


score=(ey.year-ny.year)*82*ratio
if score>35000:
    score='35,000'
elif 30000<score<35000:
    score='30,000'
elif 25000<score<30000:
    score='25,000'
else:
    score='20,000'        


# 幾歲

# setbd=bd.month
if (ey.year%4==0 and ey.year%100!=0) or ey.year%400==0: #閏年
    if ey.month<bd.month:
        yy=ey.year-bd.year-1
        setm,setd=str(bd.month),str(bd.day)
        sety=str(ey.year)
        cc=sety,setm,setd
        cdatetime="/".join(cc)
        cd=datetime.datetime.strptime(cdatetime,'%Y/%m/%d')
        oneyear=datetime.timedelta(366)
        days=ey-cd+oneyear
        days=str(days)

        dayss=(days).split(",")[0]+'.'
        print(name,'became the player with',score,'career points at',yy,'years and',dayss)

    else:
        yy=ey.year-bd.year

        setm,setd=str(bd.month),str(bd.day)
        sety=str(ey.year)
        cc=sety,setm,setd
        cdatetime="/".join(cc)
        cd=datetime.datetime.strptime(cdatetime,'%Y/%m/%d')
        days=ey-cd
        days=str(days)
        dayss=(days).split(",")[0]+'.'
        print(name,'became the player with',score,'career points at',yy,'years and',dayss)
    
else:    
    if ey.month<bd.month:
        yy=ey.year-bd.year-1
        setm,setd=str(bd.month),str(bd.day)
        sety=str(ey.year)
        cc=sety,setm,setd
        cdatetime="/".join(cc)
        cd=datetime.datetime.strptime(cdatetime,'%Y/%m/%d')
        oneyear=datetime.timedelta(365)
        days=ey-cd+oneyear
        days=str(days)

        dayss=(days).split(",")[0]+'.'
        print(name,'became the player with',score,'career points at',yy,'years and',dayss)

    else:
        yy=ey.year-bd.year

        setm,setd=str(bd.month),str(bd.day)
        sety=str(ey.year)
        cc=sety,setm,setd
        cdatetime="/".join(cc)
        cd=datetime.datetime.strptime(cdatetime,'%Y/%m/%d')
        days=ey-cd
        days=str(days)
        dayss=(days).split(",")[0]+'.'
        print(name,'became the player with',score,'career points at',yy,'years and',dayss)

Kevin Durant became the player with 20,000 career points at 29 years and 103 days.

In [15]:
bdd=datetime.datetime.strptime(birth,'%Y/%m/%d')

3