In [1]:
import pandas as pd

In [2]:
lst = [1,2,3,"a","f",True]
s_lst = pd.Series(lst)
s_lst

0       1
1       2
2       3
3       a
4       f
5    True
dtype: object

In [3]:
dic = {'k1' : 10,
      'k2' : 11,
      'k3' : 12,
      'k4' : 13}
s_dic=pd.Series(dic)
s_dic

k1    10
k2    11
k3    12
k4    13
dtype: int64

In [8]:
print(s_dic["k1":"k3"])
print(s_dic[0:2])

k1    10
k2    11
k3    12
dtype: int64
k1    10
k2    11
dtype: int64

In [23]:
f=['apple','banana','cherry']
p=[10,20,30]
menu={"fruit":f,
         'price':p}
idn=pd.DataFrame(menu)
idn

    fruit  price
0   apple     10
1  banana     20
2  cherry     30

In [21]:
print(idn.shape)

(3, 2)

In [24]:
print(idn.describe())
print(idn.values)

       price
count    3.0
mean    20.0
std     10.0
min     10.0
25%     15.0
50%     20.0
75%     25.0
max     30.0
[['apple' 10]
 ['banana' 20]
 ['cherry' 30]]

In [25]:
print(idn.head(n=2))

    fruit  price
0   apple     10
1  banana     20

In [44]:
print(idn.sort_index(axis=1,ascending=False))

   weight  price  payment  num   like   fruit
0      20     10        0    0   True   apple
1       1     20      180    9   True  banana
2       3     30      240    8  False  cherry

In [43]:
print(idn.sort_index(axis=1,ascending=True))

    fruit   like  num  payment  price  weight
0   apple   True    0        0     10      20
1  banana   True    9      180     20       1
2  cherry  False    8      240     30       3

In [29]:
print(idn['fruit'][1])

banana

In [30]:
print(idn.loc[:,'fruit'])

0     apple
1    banana
2    cherry
Name: fruit, dtype: object

In [32]:
print(idn['price'])

0    10
1    20
2    30
Name: price, dtype: int64

In [36]:
print(idn.loc['price']  >15,[:])

SyntaxError: invalid syntax (<ipython-input-36-52cc7deb4f86>, line 1)

In [42]:
idn['num']=[0,9,8]
idn['like']=[True,True,False]
idn['weight']=[20,1,3]
idn
idn['payment']=idn['price']*idn['num']
idn

    fruit  price  num   like  weight  payment
0   apple     10    0   True      20        0
1  banana     20    9   True       1      180
2  cherry     30    8  False       3      240

In [46]:
idn.to_csv('file.csv')

In [47]:
newidn=pd.read_csv("file.csv")
newidn

   Unnamed: 0   fruit  price  num   like  weight  payment
0           0   apple     10    0   True      20        0
1           1  banana     20    9   True       1      180
2           2  cherry     30    8  False       3      240